:root {
    --lightblue: #f6f9fc;
    --red: #d64041;
  }
  
  a,
  a:hover {
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .bg-lightblue {
    background: var(--lightblue);
  }
  
  .bg-red {
    background: var(--red);
  }
  
  .text-red {
    color: var(--red);
  }
  
  .container-fluid-max {
    max-width: 1440px;
  }
  
  .cover {
    background: no-repeat center/cover;
  }
  
  .p-15 {
    padding: 15px;
  }
  
 
  /* HEADER  */
  .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .page-header .navbar {
    padding: 1rem 0;
    background-color: var(--red);
   
 }
  
  .page-header .navbar-toggler {
    border-color: var(--white); 
  }
  


  /* HERO SECTION  */
  .hero {
    background-attachment: fixed;
      background-image: url("../img/cappadocia.jpg");
    transition: transform 0.5s ease-in-out;

  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
  
  .hero .container-fluid {
     z-index: 10;
  }
  
  /* POPULAR DESTINATIONS SECTION  */

  .popular-destinations figure {
    margin-bottom: 30px;
}
  /* NO HEMOS CONSEGUIDO QUE NOS FUNCIONE A LA VEZ EL BLUR Y QUE EL TEXTO SE VIERA POR ENCIMA DE LA IMAGEN */
  .image-text:hover{
    opacity: 1;
    -webkit-filter: blur(0px) grayscale(0);
  }

.image-text{

    position: absolute;
    opacity: 0;

    transform-origin: top;
    transition: opacity 1s ease-in-out;

    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }


  
  /* PAGE FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer .footer-links {
    text-align: right;
  }
  .footer-social-media .social-media {
      display: flex;
      width: 200px;
      justify-content: space-between;
      font-size: 1.8rem;
      margin-bottom: 40px; 
    }
.footer-social-media .social-media-item {
        list-style: none; }
.footer-social-media .social-media-link {
        text-decoration: none;
        font-style: 1.2rem;
        color: rgb(136, 136, 136);
        transition: color .6s; }
.footer-social-media .social-media-link:hover {
          color: #ff0000; }

  
  /* MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* MEDIUM SCREENS */
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--red);
    }
  }
  
  /* SMALL SCREENS */
  @media screen and (max-width: 767px) {
    .page-footer .footer-child {
      text-align: center;
    }
  }